/** register **/
.input-feedback, .error{
    color: #f5333f;
}
p.invalid {
    margin-top: 10px;
    text-align: center;
}
.signin-block {
    width: 380px;
    background: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.signin-block .btn-login {
    background: #F5333F;
    line-height: 45px;
    width: 100%;
    color: #fff;
    border: 1px solid transparent;
    padding: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 25px;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}
.signin-block input {
	width: 100%;
    border: 0;
    border-bottom: 1px solid #acacac;
    padding: 5px 0 5px 30px;
    background: transparent;
    margin-bottom: 40px;
    border-radius:0;
    font-size: 18px;
    color: #9D9D9D;
}
.signin-block label {
    position: relative;
    float: left;
    width: 100%;
    cursor: default;
}
label{
    font-weight: normal;
}
.signin-block .input-feedback {
    position: absolute;
    top: 25px;
    font-size: 12px;
}
.signin-block h3{
	font-weight: normal;
    text-align: center;
    margin: 0px 0 30px;
    font-size: 35px;
}
.signin-block label.name:before,.signin-block label.password:before{
    content: "";
    width: 25px;
    height: 25px;
    margin: 0;
    position: absolute;
} 
.signin-block label.name:before {
    background: url("/assets/images/username.png") no-repeat;
    background-size: contain;
    background-position: center;
}
.signin-block label.password:before {
    background: url("/assets/images/password.png") no-repeat;
    background-size: contain;
    background-position: bottom;
}
.signin-block .btm-line a{
    text-decoration: underline;
}
.signin-block .btm-line a:hover{
    text-decoration: none;
}
.signin-block p.btm-line {
    text-align: center;
    margin-top: 25px;
}

@media(max-width: 479px){
    .signin-block{
        width: 290px;
        margin: 0 auto;
    }
}