* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #626262;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #2C2C2C;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

.btn {
  padding: 0px 15px;
  line-height: 40px;
  display: inline-block;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

a.btn {
  text-decoration: none;
}

a.btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -4px;
}

.text-center {
  text-align: center;
}

input,
textarea,
select,
button {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

input[type="submit"],
input[type="button"],
label {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button, /* Removes arrows */
input::-webkit-inner-spin-button, /* Removes arrows */
input::-webkit-clear-button { /* Removes blue cross */
-webkit-appearance: none;
margin: 0;
}
input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

img {
  max-width: 100%;
}

input::placeholder,
textarea::placeholder,
::placeholder {
  color: #2c2c2c !important;
}
select, input[type="date"], input[type="time"]{
  cursor: pointer;
}
select{
  color: #2C2C2C;
}
/*select:invalid{
  color: #b3b3b3;
}
select option[value=""] {
  color: #b3b3b3;
}*/
select option {
  color: #2c2c2c;
}
.all { color: #2C2C2C;}
.spinner{position: absolute;top:50%;left: 50%; transform: translate(-50%, -50%);}

/** header **/
.logo {
  float: left;
}
.logo img {
  width: 140px;
}
.header-links {
  float: right;
}
.header {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 40px;
  position: fixed;
  background: #fff;
  z-index: 9999;
  padding: 10px 0px 5px 0;
  top: 0;
}
.header-main {
  width: 90%;
  margin: 0 auto;
}
.header-links a.active {
  color: #FE4242;
}
.header-links a {
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.header-links a:first-child{margin-right: 30px;}
.header-links a:nth-child(2) {
  margin-right: 30px;
}
.top-btns{
  width: 100%;
  text-align: center;
  top: 90px;
  position: absolute;
}
.top-btns button{
  background: #fff;
  font-size: 12px;
  font-weight: bold;
  border:2px solid #7ACCC8;
  padding: 3px 16px;
  cursor: pointer;
}
.top-btns button:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.top-btns button:nth-child(2){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.top-btns button.active{
  background: #7ACCC8;
}
/** main **/
.main {
  width: 90%;
  margin: 130px auto 20px;
  overflow: hidden;
}
.main-top {
  position: fixed;
  width: 90%;
  margin: 0 auto;
  z-index: 9999;
  background: #fff;
  padding-bottom: 15px;
  padding-top: 40px;
}
/** filters **/
.filters input{}
.filters-in {
  float: right;
}
.main-top .title {
  float: left;
  font-size: 12px;
  color: #2C2C2C;
  text-transform: uppercase;
  font-weight: 600;
}
.filters {
  overflow: hidden;
}
.select select{
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 12px;
  border-radius: 5px;
  border: 0;
  padding: 3px 24px 2px 2px;
  background: #fff url(/assets/images/drop-icon.png) 99% 49% no-repeat;
  background-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.activations, .locations{margin-right: 30px;}
.filters-in div {
  float: left;
}
.locations select{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  white-space: nowrap;
}
/**date & time**/
[type="date"], [type="time"] {
  border: 1px solid #2C2C2C;
  border-radius: 5px;
  font-size: 12px;
  color: transparent;
  padding: 1px;
  position: relative;
  height: 20px;
}

[type="date"]{
  background: #fff url(/assets/images/calendar.png) 99% 49% no-repeat;
  background-size: 17px;
  width: 95px;
}
[type="time"]{
  background: #fff url(/assets/images/clock.png) 99% 49% no-repeat;
  background-size: 18px;
  width: 75px;
}
[type="date"]::-webkit-inner-spin-button, [type="time"]::-webkit-inner-spin-button {
display: none;
-webkit-appearance: none;
}
[type="date"]::-webkit-calendar-picker-indicator, [type="time"]::-webkit-calendar-picker-indicator {
opacity: 0;
}

[type="date"]:invalid:before, [type="time"]:invalid:before {
  color: #2c2c2c;
  content: attr(placeholder);
  padding-left: 10px;
  pointer-events: none;
  position: absolute;
  left: -7px;
  width: 100%;
}

[type="date"]:valid,
[type="date"]:focus,
[type="date"]:active,
[type="time"]:valid,
[type="time"]:focus,
[type="time"]:active
 {
  color: #626262;
}
[type="date"]:valid:before,
[type="date"]:focus:before,
[type="date"]:active:before,
[type="time"]:valid:before,
[type="time"]:focus:before,
[type="time"]:active:before {
  display: none;
}
.filters-in .time {
  margin-left: 30px;
}
.filters-in .date input:first-child, .filters-in .time input:first-child{margin-right: 15px;}
/** total **/
.total .title{float: left;font-size: 12px;}
.total-values {
  float: right;
}
.total-values a.export img {
  max-width: 20px;
  vertical-align: sub;
  margin-right: 3px;
}
.total-values a{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.total {
  line-height: 50px;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  height: 50px;
  margin: 20px 0 0;
}
.count{font-size: 22px; margin-left: 15px;vertical-align: middle;}

/* engagementsBar */
.engagementsBar{
  width: 100%;
  margin: 180px 0 20px;
  background: #fff;
  padding: 0 20px 0 70px;
  overflow: auto;
  float: left;
  position: relative;
}
 
.engagementsBar-in {
  white-space: nowrap;
  display: inline-flex;
}
.progress-track {position: relative;}

.activation-light{position: absolute; bottom:-4px; left:0px;width: 10px;height: 10px;border-radius:10px;}
.activation-on{background-color: #39b54a;border: 2px solid #39b54a;}
.activation-off{background-color: #ed1c24;border: 2px solid #ed1c24;}
/*
.progress-bar:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #c1c1c1;
    position: absolute;
    bottom: 30px;
    left: 0;
}*/
.engagementsBar .progress-bar {
float: left;
  margin-right: 25px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 0;
  width: 100% !important;
}
.progress-fill.progress-fill2+.progress-fill {
  width: 50%;
  left: 0;
}
.progress-fill.progress-fill2 {
  width: 50% !important;
  right: 0;
  background: #a50505 !important;
  border-top: 2px solid #790707 !important;
}
.act-barClr2, .act-barClr1{
  position: relative;
  padding-left: 12px;
  margin: 4px 0;
}
.act-barClr1:before, .act-barClr2:before{
  content: '';
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 4px;
}
.act-barClr1:before{
  background: #016081;
}
.act-barClr2:before{
  background: #a50505;
}
.engagementsBar .progress-bar-in{
  margin: 0 auto;
  height: 300px;
}
.eng-txt {
  position: absolute;
  left: -50px;
  transform: rotate(-90deg);
  top:200px;
  color: #626262;
}
.eng-act-txt {
  position: absolute;
  left: 0;
  top: 310px;
  color: #626262;
}
.engagementsBar .progress-track {
  position: relative;
  height: 100%;
  background: #fff;
}

.engagementsBar .progress-fill {
position: absolute;
  background: #7ACCC8;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  border-top: 2px solid #44b0ab;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.engagementsBar .progress-fill span{
  position: absolute;
  font-size: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #2C2C2C;
  transform: rotate(90deg);
  bottom: 3px;
}
.bar-name {
    padding-top: 5px;
    border-top: 1px solid #c1c1c1;
    min-height: 45px;
}
.bar-name {
  color: #626262;
  font-size: 11px;
  -ms-writing-mode: tb-rl;
 -webkit-writing-mode: vertical-rl;
 -moz-writing-mode: vertical-rl;
 -ms-writing-mode: vertical-rl;
 writing-mode: vertical-rl;
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  transform: rotate(0deg);
  transform-origin: 50% 0%;
  margin-top: 2px;
  margin-bottom: 5px;
  border-top: 0;
}
.bar-name span {
  display: block;
}


/** engagement details **/
.details-table {
margin: 1em 0;
width: 100%;
border-spacing: 0;
overflow: hidden;
text-align: center;
position: relative;
padding-bottom: 50px;
}
.details-table th {
display: none;
color: #fff;
text-transform: uppercase;
}
.details-table td {
display: block;
cursor: pointer;
}
.details-table td:last-child {
padding-bottom: .5em;
}
.details-table td:before {
content: attr(data-th);
width: 8.5em;
display: inline-block;
}
.details-table .loadimg{
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  margin: 0 auto -25px;
}
.details-table thead{
  background-color: #464646;
}
.details-table tbody tr:nth-child(odd){
  background-color: #F3F1F1;
}
.details-table th select {
  font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;
    border: inherit;
    text-align: center;
    width: 80px;
    overflow: hidden;
    -webkit-appearance: none;
    -o-text-overflow: '';
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 2px 20px 2px 2px;
    background: url(/assets/images/drop-icon2.png) 99% 49% no-repeat;
    background-size: 18px;
}
.details-table th, .details-table td {
margin: .5em 1em;
font-size: 12px;
font-weight: normal;
}
.details-table td {
  font-size: 14px;
}
th.area select option{
  font-size: 14px;
}
.download img, .sms img{width: 24px;vertical-align: middle;}

.download a{
  height: 24px !IMPORTANT;
  overflow: hidden;
}
/** gallery **/
.gallery-main {
  margin: 145px -5px 20px;
  float: left;
  width: calc(100% + 10px);
}
.search-gal input{
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 25px;
  border: 1px solid #ddd;
}
/* .search-gal:after {
  content: '';
  background: url(/assets/images/searchicon-l.png) no-repeat;
  background-size: 22px;
  content: "";
  width: 20px;
  height: 30px;
  top: 10px;
  right: 3px;
  position: absolute;
  display: inline-block;
} */
.search-click {
  position: absolute;
  right: -10px;
  top: 0;
  height: 40px;
  width: 40px;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}
.search-click img{
  width: 22px;
}
.search-gal {
  margin: -10px auto 30px;
  text-align: center;
  position: relative;
  width: 290px;
}
.img-block {
  width: 25%;
  float: left;
  padding: 0 5px;
  position: relative;
  margin: 0 0 10px;
  cursor: pointer;
}
.img-block a:hover{opacity: 1;}
.img-block-in {
  background: #fff;
  width: 100%;
  box-shadow: 0 0 10px -3px;
  position: relative;
      border-radius: 8px;
}
.campaign-block {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  width: 100%;
  padding: 10px 6px 36px;
  visibility: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}
.img-block:hover .campaign-block{visibility: visible; }
span.act-num {
  float: right;
}
.extmtr .campaign-img {
  height: auto;
  overflow: hidden;
  display: block;
  border-radius: 8px;
}
.extmtr .campaign-img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display: block;
}
.yourmve .campaign-img {
  height: 260px;
  overflow: hidden;
  display: block;
  border-radius: 8px;
}
.yourmve .campaign-img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  display: block;
  margin-top: -15%;
}
.img-block img{
  border-radius: 8px;
}
.loadimg {
  display: block;
  float: left;
  width: 100%;
}
.loadimg .loader{
  border-color: rgba(254, 66, 66, 0.2) rgba(254, 66, 66, 0.2) rgba(254, 66, 66, 0.2) rgb(254, 66, 66) !important;
}

/** activation details **/
.act-details-main, .prod-features {
  width: 500px;
  margin: 10px auto 0;
}
.act-img img{
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.act-details-top {
  margin-bottom: 10px;
  text-align: right;
  overflow: hidden;
}
.act-details-btm{margin-top: 10px;overflow: hidden;}
span.act-no {
  float: left;
}
.act-details-btm-left {
  float: left;
}
.act-details-btm-left span {
  display: block;
}.act-details-btm-left .name {
  font-size: 20px;
  margin-bottom: 5px;
}
.act-details-btm-right {
  float: right;
  margin-top: 10px;   
}
.act-details-btm-right img{
  width: 28px;
}
.act-details-btm-right a.download{
  margin-right: 15px;
}

/**** your movie act details ***/
.header.ym_contact {
  text-align: center;
}
.header.ym_contact .logo{
  float: none;
}
.header.ym_contact .logo img{
  width: 120px;
}
.ym_contact + .main .act-details-main{
  width: 250px;
}
.ym_contact + .main .act-details-main .act-details-top{
  font-size: 11px;
}
.ym_contact + .main .act-details-main .act-details-btm-left .name{
  font-size: 14px;
}
.ym_contact + .main .act-details-main .act-details-btm-left span{
  font-size: 12px;
}
.ym_contact + .main .act-details-main .act-details-btm-right img{
  width: 20px;
}
.ym_contact + .main{
  margin: 120px auto 20px;
}
@media (max-width: 479px) {
  .header.ym_contact{
    padding: 10px 0 5px;
  }
  .ym_contact + .main {
    margin: 85px auto 20px;
  }
  .ym_contact + .main .act-details-main {
    width: 190px;
  }
  .ym_contact + .main .act-details-main .act-details-top {
    font-size: 10px;
  }
  .header.ym_contact .logo img {
    width: 100px;
  }
}
 
.titleF {
  border-bottom: 1px solid #727272;
  padding: 20px 0 5px;
}
.prod-features .feature {
  margin-top: 20px;
}
span.feature-name {
  width: calc(100% - 30px);
  display: inline-block;
}
span.feature-avail {
  display: inline-block;
}
.prod-features {
  color: #727272;
}

/** snackbar message **/
.show {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  padding: 7px;
  position: fixed;
  z-index: 1;
  left: 0;
  right:0;
  margin: 0 auto;
  bottom: 30px;
  font-size: 14px;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media (min-width: 992px) {
/** details table **/
.details-table td:before {
  display: none;
}
.details-table th, .details-table td {
  display: table-cell;
  padding: .25em .5em;
}
.details-table th {
  padding: 0.6em !important;
}
.details-table td {
  padding: 0.5em !important;
}
}

@media (min-width: 1200px) and (max-width: 1500px){
  /** gallery **/
  .campaign-block{font-size: 12px;}
}
@media (min-width: 992px) and (max-width: 1199px){
  /** gallery **/
  .campaign-block{font-size: 12px;}
  .activation-details {
      text-align: center;
  }
  span.act-num {
      float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  /** filters **/
  .activations, .locations {
    margin-right: 7px;
  }
  .filters-in .time {
    margin-left: 7px;
  }
  .filters-in .date input:first-child, .filters-in .time input:first-child {
    margin-right: 3px;
  }
  /** gallery **/
  .img-block {
      width: 33.33%;
  }

  /** engangements bar **/
  .engagementsBar .progress-bar{
    width: 40px !Important;
  }
  /** details table **/
  .details-table tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  .details-table tbody tr{
      width: 50%;
      float: left;
      border: 2px solid #fff;
  }
}
@media (max-width: 991px){
  /** gallery **/
  .campaign-block{font-size: 11px;}

  /** engagements bar **/
  .engagementsBar .progress-bar{
    padding: 0 1px;
  }
  .engagementsBar{padding:0 10px 0 70px;}
  .engagementsBar-in {
    overflow: auto;
    white-space: nowrap;
    display: inline-flex;
  }
    .bar-name span {
        display: initial;
    }
    .eng-txt{
        font-size: 12px;
        left: -30px;
    }
    .eng-act-txt {
        position: absolute;
        left: 15px;
        color: #626262;
        writing-mode: tb-rl;
        white-space: nowrap;
        display: inline-block;
        overflow: visible;
        font-size: 12px;
    }
    .progress-bar:after{
        background:none;
        height: 0;
    }
}

@media (max-width: 767px){
     /** engagements bar **/
    

    /** total **/
    .total{margin-bottom: 0;}
    .details-table{
      padding-bottom: 30px
    }
    .details-table .loadimg .loader{
      width: 7em;
      height: 7em;
    }
    .top-btns button{
      padding: 3px 13px;
      font-size: 11px;
    }

    .search-click{
      height: 30px;
    }
    .search-click img {
      width: 18px;
  }
}
@media (min-width: 480px) and (max-width: 560px){
  .top-btns{
    text-align: right;
    right: 25px;
  }
}
@media (min-width: 480px) and (max-width: 767px){
  /** gallery **/
  .img-block {
      width: 50%;
  }
  .engagementsBar .progress-bar{
    width: 35px !Important;
  }
  /** activation detail **/
  .act-details-main, .prod-features {
      width: 400px;
  }

  /** filters **/
  .filters-in .date{
    float: left;
  }
  .filters-in .time {
    float: none;
  }
  .filters-in div {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .filters-in .date input:first-child, .filters-in .time input:first-child {
    margin-right: 5px;
  }
  .main-top .title{
    float: none;
  }
  .total .title{
    float: left;
  }
  .filters-in {
    float: none;
    display: block;
  }
  .filters-in .date, .filters-in .time{
    margin-left: 0;
  }

  /** search **/
  .search-gal{
    width: 250px;
    margin: -10px auto 10px;
  }
  .search-gal input{
    height: 30px;
    line-height: 30px;
    width: 250px;
  }
  .search-gal:after{
    top: 4px;
    right: 10px;
  }

  /** engagements bar **/
    .eng-act-txt {
        left: 15px !important;
        font-size: 11px !important;
    }
}
@media (min-width: 992px){
  .engagementsBar .progress-fill, .engagementsBar .progress-track{
    margin: 0 auto;
    max-width: 45px;
  }
  .bar-name .eng-area{
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 991px){
  /** details table **/
  .details-table tbody tr:nth-child(odd) {
      background: #f5f5f5;
  }
  .details-table{text-align: left;}
  .details-table tr:first-child td{
      padding-top: 0 !important;
  }
  .details-table tr:first-child{
    padding-top: 6px !important;
}
}
@media (max-width: 671px){
  /** engagements bar **/
  .progress-bar:after{
    bottom: 43px !important;
    height: 0.5px;
  }
}
@media (max-width: 479px){
  /** header **/
  .header{
    padding: 20px 0;
  }
  .logo img {
    width: 90px;
  }
  .header-links a:first-child {
    margin-right: 12px;
  }
  .header-links a:nth-child(2) {
    margin-right: 12px;
  }
  .header-links a{margin-top: 10px;font-size: 11px;}
  .top-btns {
    text-align: right;
    top: 60px;
    right: 15px;
  }
  .main {
    margin: 100px auto 0;
  }
  .main-top {
    padding-top: 20px;
  }
  /** filters **/
  .filters-in .date{
    float: left;
  }
  .filters-in .time {
    float: none;
  }
  .filters-in div {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    float: none !important;
  }
  .filters-in .date input:first-child, .filters-in .time input:first-child {
    margin-right: 5px;
  }
  .main-top .title{
    float: none;
    text-align: center;
  }
  .filters-in {
    float: none;
    display: block;
    text-align: center;
  }
  .filters-in .date, .filters-in .time{
    margin-left: 0;
  }

  /** search **/
  .search-gal{
    width: 250px;
    margin: -10px auto 10px;
  }
  .search-gal input{
    height: 30px;
    line-height: 30px;
    width: 250px;
  }
  .search-gal:after{
    top: 4px;
    right: 10px;
  }

  /** total **/
  .total{height: 30px;line-height: 30px;}
  .total-values a {
    margin-left: 20px;
    font-size: 12px;
  }
  .count {
    font-size: 16px;
  }
  .total .title{
    float: left;
  }

  /** gallery **/
  .img-block {
      width: 100%;
  }
  
/** activation detail **/
  .act-details-main, .prod-features {
      width: 100%;
      margin-top: 20px;
  }
  .act-details-top{
      font-size: 12px;
  }
  .act-details-btm-left .name {
      font-size: 18px;
  } 
  /** engagements bar **/
  .engagementsBar .progress-fill span, .bar-name{
          font-size: 9px;
  } 
  .engagementsBar{padding:0 10px 0 30px; overflow: auto;}
  .eng-txt{
        font-size: 12px;
        left: -33px;
    }
    .eng-act-txt {
        font-size: 11px;
    }
    
  .engagementsBar .progress-bar{
    width: 30px !Important;
  }
}
@media (max-width: 407px){
  .gallery-main {
    margin: 135px -5px 20px;
  }
}